/** =============================================================================
 ** Copyright (C) 2013    Marcos Medeiros
 **
 ** This file is part of "SGEH - Sistema Gerador de Erro Humano"
 **
 ** This program is free software: you can redistribute it and/or modify
 ** it under the terms of the GNU General Public License as published by
 ** the Free Software Foundation, either version 3 of the License, or
 **  (at your option) any later version.
 **
 ** This program is distributed in the hope that it will be useful,
 ** but WITHOUT ANY WARRANTY; without even the implied warranty of
 ** MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 ** GNU General Public License for more details.
 **
 ** You should have received a copy of the GNU General Public License
 ** along with this program.  If not, see <http://www.gnu.org/licenses/>.
 ** ============================================================================
 **/
QToolBar
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #202020, stop:0.6 #606060, stop:0.61 #707070, stop:1 #909090);
    border: 1px solid #acacac;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: 1px solid black;
}


QScrollArea
{
    background: #404040;
    border: none;
   /* padding: 4px;
    margin: 1px; */
}

QPointEdit
{
    color: red;
}

QPointEditPopup
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #202020, stop:0.6 #606060, stop:0.61 #707070, stop:1 #909090);
    color: white;
    border: 1px solid black;
}

QPointEditPopup > QLabel
{
    color: white;
}

QSizeEdit
{
    color: red;
}

QSizeEditPopup
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #202020, stop:0.6 #606060, stop:0.61 #707070, stop:1 #909090);
    color: white;
    border: 1px solid black;
}

QSizeEditPopup > QLabel
{
    color: white;
}

QRectEdit
{
    color: red;
}

QRectEditPopup
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #202020, stop:0.6 #606060, stop:0.61 #707070, stop:1 #909090);
    color: white;
    border: 1px solid black;
}

QRectEditPopup > QLabel
{
    color: white;
}

QDockWidget
{
    border: 1px solid black;
    color: white;
}

QDockWidget::title
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #202020, stop:0.6 #606060, stop:0.61 #707070, stop:1 #909090);
    border: none; /*1px solid #acacac;*/
    border-bottom: 1px solid black;
    text-align: left;
    height: 23px;
}


QStatusBar
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #202020, stop:0.6 #606060, stop:0.61 #707070, stop:1 #909090);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 1px;
    color: white;
}

QToolButton
{
    background: none;
    border: none;
}

QToolButton:hover
{
    background: QLinearGradient(x1:0 y1:1, x2:0 y2:0, stop:0 rgba(255,255,255,10%), stop:0.6 rgba(255,255,255,30%), stop:1 rgba(255,255,255,40%));
    border-radius: 2px;
    border: rgba(100,100,100,70%);
}

QToolButton:checked
{
    background: #AAAA00;
    /*background: QLinearGradient( x1:0 y1:0, x2:0 y2:1, stop:0 #575737, stop:1 #878767);*/
    border-radius: 1px;
}

QMenuBar
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #D0D0D0, stop:1 #E7E7E7);
    border-top: 1px #c0c0c0;
    border-bottom: 1px solid black;
    border-left: none;
    border-right:none;
    padding: 2px;
    color: black;
}


QMenuBar:item
{
    background: transparent;
}

QMenuBar:item:pressed
{
    background: QLinearGradient( x1:0 y1:0, x2:0 y2:1, stop:0 #676767, stop:1 #878787);
    color: white;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 70%);
    padding: 0px;
}

QToolTip
{
    border: 1px solid black;
    background-color: #FFFF99;
    border-radius: 2px;
    padding: 0px;
    color: black;
}

QMainWindow::separator
{
    background: black;
    width: 1px;
    height: 1px;
    border: none;
}

/*****************/
QScrollBar:horizontal {
    border: 1px solid #222222;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    height: 16px;
    margin: 0px 20px 0 20px;
}

QScrollBar::handle:horizontal
{
    background: QLinearGradient( x1:0 y1:1, x2:0 y2:0, stop:0 #676767, stop:0.5 #878787, stop:0.51 #979797, stop:1 #a7a7a7);
    border-radius: 1px;
    min-width: 16px;
    border: 1px solid #202020;
}

QScrollBar::add-line:horizontal {
    border: 1px solid #1b1b19;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: 1px solid #1b1b19;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::right-arrow:horizontal
{
    background-image: url(:images/right_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

QScrollBar::left-arrow:horizontal
{
    background-image: url(:images/left_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

/*****************************/
QScrollBar:vertical
{
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    width: 16px;
    margin: 20px 0 20px 0;
    border: 1px solid #222222;
}

QScrollBar::handle:vertical
{
    background: QLinearGradient( x1:1 y1:0, x2:0 y2:0, stop:0 #676767, stop:0.5 #878787, stop:0.51 #979797, stop:1 #a7a7a7);
    border-radius: 1px;
    min-height: 16px;
    border: 1px solid #202020;
}

QScrollBar::add-line:vertical
{
    border: 1px solid #1b1b19;
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
    border: 1px solid #1b1b19;
    background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical
{
    background-image: url(:images/up_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

QScrollBar::down-arrow:vertical
{
    background-image: url(:images/down_arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

/***********/
QWidget#TabContainer {
    background: #303030;
}
QTabWidget::pane {
    border: none;
    border-top: 1px solid black;
}
QTabBar::tab {
    height: 23px;
    background: QLinearGradient(x1:0 y1:1, x2:0 y2:0, stop:0 #272727,
    stop:0.6 #303030, stop:0.61 #404040,
    stop:1 #575757);
    color: white;
}

QTabBar::tab::selected {
    background: QLinearGradient(x1:0 y1:1, x2:0 y2:0, stop:0 #878787,
    stop:0.6 #B0B0B0, stop:0.61 #C7C7C7,
stop:1 #F7F7F7);
    color: black;
}
